body {
display: flex;
background-color: #AA9E92;
flex-direction: column;
align-items: center;
width: 100%;
height: 2000px;
margin: 0px;
}

#header {
display: flex;
flex-direction: column;
justify-content: center;

background-image: linear-gradient(to right, #edeae8 , #d3d2d0);
width: 100%;
height: 240px;
border-bottom: solid;
border-width: 10px;
border-color: #d3d2d0;
}

/* logo */

#header hgroup span {
display: block;
font-family: 'Zen Antique', serif;
font-size: 60px;
background-color: white;

width: 100px;
}

#header hgroup {
display: block;
width: 206px;
border-bottom: solid;
border-top: solid;
border-width: 3px;
}

sub {
background-color: #9ce6ff;
line-height: 30px
}

/* logo end */

#header div {
margin: 0 0 105.2px 36px;
}

.body-layer-top {
position: absolute;
background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(52,70,86,0.1));
width: 100%;
height: 335px;
z-index: 2;
}

.body-layer-bottom { /* gradient */
background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(52,70,86,0.4));
height: 800px;
z-index: 2;
}
    
.page-flow {
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: transparent;
width: 100%;
height: 100%;
}

.texture-top-portion {
position: absolute;
background-image: url("/images/brands-people-dwySHxLsofc-unsplash\ \(flipped\).jpg");
background-position-y: 1320px;
background-position-x: -500px;
width: 100%;
height: 480px;
opacity: 0.8;
z-index: 1;
box-shadow: 5px 6px 10px -5px;
border-bottom: solid;
border-width: 3px;
border-color: #d3d2d0;
}

.texture-bottom-portion {
position: absolute;
background-image: url("/images/brands-people-dwySHxLsofc-unsplash.jpg");
background-position-y: center;
height: 1080px;
width: 100%;
opacity: 0.5;
top: 915px;
z-index: 1;

box-shadow: 5px -6px 8px -5px;
border-top: 3px solid #d3d2d0 ;
}

.content-within-borders {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 482px;
width: 100%;
height: 430px;
}

.also-background-image {
position: absolute;
background-image: url("/images/IMG_2823\ \(larger\).jpg");
background-repeat: no-repeat;
width: 100%;
height: 400px;
filter: blur(2.5px);
top: 500px;
z-index: 3;
}

.background-image {
position: absolute;
background-image: url("/images/IMG_2823.jpg");
background-repeat: no-repeat;
width: 1180px;
height: 360px;
top: 520px;
left: 26px;
z-index: 4;
border-radius: 3.5px 40px 3.5px 40px;
border-width: 2.2px;
border-style: solid;
}

/*
.image-overlay {
position: absolute;
background-color: transparent;
width: 1614px;
height: 400px;
top: 500px;
z-index: 5;
}
*/