body {
background-color: #374151;
width: 100%;
height: 922px;
margin: 0px;
}

#header {
background-image: linear-gradient(to right, white , #d3d2d0);
width: 1345px;
height: 72px;
border-bottom: solid;
border-color: #d3d2d0;
box-shadow: 8px 2.8px 8px -5px;
border-width: 3px;
padding-top: 2px;
}

#header span {
display: block;
font-family: 'Zen Antique', serif;
color: #374151;
font-size: 25px;
box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.03);
}

#header > hgroup {
display: block;
width: 93px;
height: 47px;
border-bottom: solid;
border-top: solid;
border-color: #374151;
border-width: 2.3px;
}

sub {
position: relative;
background-color: #9ce6ff;
font-size: 6px;
bottom: 12.78px;
}

#header > div {
margin: 9px 0 0 33px;
width: 93px;
}

.menu-options {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.menu-options button {
font-family: 'Caveat', cursive;
font-size: 16px;
color: #453f47;
border-style: none;
height: 40px;
width: 80px;
}

.menu-options > button:nth-child(1) {
border-radius: 3.5px 0px 0px 2.5px;
background-color: #ebebea;
border-style: none;
border-left: 0.6px solid rgba(0, 0, 0, 0.5); 
border-top: 2.1px solid rgba(0, 0, 0, 0.5);
border-bottom: 2.1px solid rgba(0, 0, 0, 0.5);
width: 60px;
margin-right: 3px;
}

.menu-options > div:nth-child(1) { /* seperator */
background-color: rgba(0, 0, 0, 0.1);
margin-right: 1.1px;
width: 1px;
height: 38px;
}

.menu-options button:nth-child(2) {
border-radius: 3.5px 3.5px 3.5px 3.5px;
background-color: #c6c6c6;
border-right: 0.6px solid rgba(0, 0, 0, 0.5);
border-top: 2.1px solid rgba(0, 0, 0, 0.5);
border-bottom: 2.1px solid rgba(0, 0, 0, 0.5);
height: 44px;
}

.menu-options > button:hover {
background-color: #9ce6ff;
}

.body-layer-top {
position: absolute;
background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(134,144,153,0.9));
width: 1345px;
height: 351px;
z-index: 2;
}

.body-layer-top > div {
position: inherit;
width: 195px;
height: 50px;
top: 11.7px;
left: 1150px;
}

/*
.body-layer-top > p:nth-child(3) {
width: 500px;
left: 445px;
position: inherit;
font-family: 'Caveat', cursive;
text-shadow: 1px 1px 40px black;
color: rgba(0, 0, 0, 0.7);
top: 107px;
font-weight: 500;
font-size: 24.3px;
margin-bottom: 12px;
}
*/

main {
position: absolute;
background-color: black;
width: 1345px;
height: 534px;
z-index: 2;
top: 151px;
opacity: 0.8;

box-shadow: -100px 30px 200px 20px;
}

main > div {  /* SEE HERE */
position: inherit;
background-color: white;
width: 857.5px;
height: 416px;
left: 256px;
border: 1px solid;
margin-top: 3.3px;
}

.image-selection {
position: inherit;
background-color: lightgrey;
border-top: 1.2px solid;
width: 857.5px;
height: 109px;
top: 416px;
}

.body-layer-bottom {
position: relative;
background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(134, 144, 153, 0.7));
height: 222px;
top: 319px;
}
    
.page-flow {
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: transparent;
width: 1345px;
height: 100%;
}

.texture-top-portion {
position: absolute;
background-image: url("/images/brands-people-dwySHxLsofc-unsplash\ \(flipped\).jpg");
background-position-y: 1597px;
background-position-x: -762px;
width: 1345px;
height: 132px;
box-shadow: -6px 9.1px 5px -2px;
border-bottom: solid;
border-width: 3px;
border-color: #d3d2d0;
z-index: 1;
opacity: 0.6;
}

#second-half {
position: relative;
z-index: 3;
background-image: linear-gradient(to right, white , #d3d2d0);
width: 1345px;
height: 458px;
top: 101.8px;
border-width: 3px;
border-bottom: solid;
border-color: #d3d2d0;
}

.texture-bottom-portion {
position: absolute;
background-image: url("/images/brands-people-dwySHxLsofc-unsplash.jpg");
background-position-y: 54%;
height: 382px;
width: 1345px;
top: 539px;
box-shadow: 3px -8px 8px -5px;
border-top: 3px solid #d3d2d0;
z-index: 1;
opacity: 0.6;
}

.first-half {
width: 1345px;
height: 430px;
}
